gdbName={{ db_name }}
sid={{ db_sid }}
createAsContainerDatabase=false
templateName=General_Purpose.dbc
sysPassword={{ sys_password }}
systemPassword={{ sys_password }}
datafileDestination=/u02/oradata
recoveryAreaDestination=/u02/oradata
characterSet=AL32UTF8
totalMemory=1536
databaseType=MULTIPURPOSE
automaticMemoryManagement=true
sampleSchema=true
